*{
    margin: 0;
    padding: 0;

}

body{

    background-color: #CD0000;
    color: ghostwhite;
    margin: 0px;
    margin-bottom: 100px;

}

header{
    background-color: bisque;
    color: azure;
    text-align: center;
    padding: 20px;
}

.container{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    width: 100%;

}

#minions{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;

}